.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ingredients-container{
  background-image: url("https://media.istockphoto.com/photos/empty-wooden-shelf-picture-id479473084?k=6&m=479473084&s=170667a&w=0&h=fQO4GC5I32tTFI1xGMmc4I1Ea_42X2a4YlK4tAum2TM=");
  background-size: 100% auto;
  background-repeat: repeat;
  border: 5px solid red;
  margin-top: 15px;
  width: 700px;
  padding: 50px;
}

.cart{
  margin-top: 15px;
  min-height: 1000px;
  background-image: url("https://media.istockphoto.com/vectors/shopping-cart-for-supermarket-products-vector-id1095472954?k=6&m=1095472954&s=612x612&w=0&h=-OSVyGGZAIfQMT99Lz4lYhPc92VyPOu7BoAiSwOKq1c=");
  padding: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  background-image: url('https://wallpaperaccess.com/full/271679.jpg');
  height: 800px;
}

.page-header-text {
  color: white;
  text-align: center;
  font-family: 'founders-heading', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.10), 0 16px 16px rgba(0, 0, 0, 0.05);
}

.login-page-form {
  align-content: center;
  display: block;
  text-align: center
}

.login-page-header-text-sm{
  font-size: 200%;
}

.login-page-header-text-lg{
  font-size: 500%;
  padding-top: 100px;
}


.login-page-submit {
  display: inline-block;
  border-radius: 4px;
  background-color: #0b710b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.recipe-page{
  background-image: url('https://wallpapercave.com/wp/wp2689242.jpg');
  background-size: 100% 800px;
  width: 100%;
  height: 800px;
  border: 2px solid;
  opacity: 0.8;
}

.recipe-page-text-lg {
  font-size: 500%;
}

.recipe-page-text-no-recipes {
  color: yellow;
  padding-top: 200px;
}

.modal-content {
  background-color: wheat !important;
 }

 .recipe-modal-font {
  font-family: Recoleta-Bold,sans-serif;
  font-style: normal;
  font-weight: 400;
 }

 center {
   text-align: center;
   align-content: center;
 }
